body {
    margin: 0;
    font-family: 'Arimo', sans-serif;
    font-weight: 300;
}

input {
    font-family: 'Arimo', sans-serif;
}

a {
    text-decoration: none;
}

header {
    border-bottom: 1px solid #ebebeb;
}

h2 {
    font-weight: 300;
}

button {
    font-family: 'Arimo', sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.top-left {
    display: flex;
    align-items: center;
}

.top-left a {
    display: flex;
}

.logo {
    display: inline-block;
    height: 30px;
    width: auto;
    padding: 5px 27px;
}

.searchbar-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 34vw;
    height: 44px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin: 0 25px;
    padding: 0 15px;
}

.searchbar-div:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
}

.searchbar {
    height: 34px;
    line-height: 34px;
    flex: 1 1 100%;
    font-size: 16px;
    border: none;
}

.mag-glass {
    height: 24px;
    width: 24px;
    color: #4285f4;;
    font-size: 14px;
    line-height: 24px;
    padding-left: 15px;
}

.mag-svg {
    fill: currentColor;
}

button.x {
    background: transparent;
    border: none;
    visibility: visible;
    cursor: pointer;
    color: #888888;
    font-size: 14px;
    height: 24px;

    display: table-cell;
    vertical-align: middle;
}

.x svg {
    height: 24px;
    width: auto;
}

.top-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.top-right a {
    margin-right: 28px;
}

.nine-dot {
    height: 16px;
    width: auto;
}

.user-circle {
    border-radius: 50%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    height: 52px;
    align-items: flex-end;
    width: 44%;
    font-size: 14px;
}

.categories {
    display: flex;
    margin-left: 150px;
}

.nav-links a {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: #5f6368;
    font-size: small;
    padding: 12px 12px 12px 10px;

    min-width: 50px;
}

.categories a.current {
    padding-bottom: 9px;
    border-bottom: 3px solid #1a73e8;
    color: #1a73e8;
}

.nav-links a img, .nav-links a span {
    display: inline-block;
}

.nav-icon {
    width: 18px;
    height: auto;
    margin-right: 5px;
}

.settings {
    display: flex;
    flex-direction: row;
}

.nav-links a.tools {
    padding: 5px 8px;
    margin: 9px 0;
    justify-content: center;
}

.nav-links a.tools:hover {
    color: #222;
    background: #f2f2f2;
    border: 1px solid #9aa0a6;
    border-radius: 2px;
    box-shadow: 0px 1px 1px 0 rgba(32,33,36,0.28);
    margin: 9px -1px 8px 0;
}

.results-bar {
    color: #9aa0a6;
    font-size: 14px;
    padding: 14px 0;
    margin-left: 180px;
}

.results-container {
    width: 75%;
    margin-left: 0;
}

.results {
    width: 50%;
    margin: 20px auto 50px 180px;
}

.result {
    width: 88%;
    text-align: left;
    margin: 0 0 40px 0;
}

.breadcrumbs {
    color: #70757a;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.down-arrow {
    border-color: #70757a transparent;
    border-style: solid;
    border-width: 5px 4px 0 4px;
    margin-left: 10px;
}

.result a {
    text-decoration: none;
}

.page-title {
    color: #1a0dab;
    text-decoration: none;
    font-size: 20px;
    margin: 7px 0;
}

.page-title:hover {
    text-decoration: underline;
}

.description {
    font-size: 14px;
    line-height: 21px;
    max-height: 42px;
    overflow: hidden;
    margin: 5px 0;
}

.description-box {
    display: flex;
    align-items: flex-start;
    max-height: 69px;
}

.description-box .description {
    max-height: 63px;
}

.thumbnail-box {
    position: relative;
}

.thumbnail {
    display: inline-block;
    height: 62px;
    width: auto;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 8px;
}

.play-button {
    content: "";
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDQ4IDQ4IiBmaWxsPSIjZmZmIj48cGF0aCBkPSJNMjQgNEMxMi45NSA0IDQgMTIuOTUgNCAyNHM4Ljk1IDIwIDIwIDIwIDIwLTguOTUgMjAtMjBTMzUuMDUgNCAyNCA0em0tNCAyOVYxNWwxMiA5LTEyIDl6Ii8+PC9zdmc+);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;

    width: 24px;
    height: 24px;
    z-index: 2;
    opacity: 0.8;
}

.people-ask {
    width: 88%;
}

.people-ask h2 {
    font-size: 20px;
    margin: 7px 0;
}

.tab-box {
    position: relative;
    border-top: 1px solid #e5e5e5;
    font-size: 14px;
}

.tab-check {
    display: none;
}

.tab-label {
    display: block;
    background: transparent;
    position: relative;
    font-size: 16px;
    padding: 5px 0;
    margin: 5px 0;
    cursor: pointer;
    user-select: none;
}

.tab-label::after {
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    width: 24px;
    height: 24px;
    background-image: url(./img/icon/baseline_expand_more_black_18dp.png);
    background-size: cover;
    z-index: -1;

    transition: transform 0.3s ease-in-out;
}

.tab-check:checked ~ .tab-label::after {
    transform: scaleY(-1);
}

.tab-collapse {
    display: block;
    overflow: hidden;
    padding: 0;
    margin: 0;
    max-height: 0px;
    transition: max-height 0.3s ease-in-out;
}

.tab-check:checked ~ .tab-collapse {
    max-height: 100vh;
}

.tab-content {
    margin: 12px;
}

.feedback {
    text-align: right;
    padding: 5px 10px;
    font-size: 12px;
    color: #9aa0a6;
}

.people-search h2 {
    margin: 30px 0;
}

.people-search .tab-label{
    line-height: 2;
}

.cards {
    display: inline-flex;
    padding: 0 !important;
    margin: 10px 0 16px 0;
}

.cards a {
    text-decoration: none;
}

.card {
    width: 100px;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 8px;
}

.card-img {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
}

.card-description {
    color: #202020;
    margin: 8px 8px;
}

.card:hover {
    text-decoration: underline;
}

.see-more {
    width: 300px;
    margin: auto;
    border: 1px solid #dfe1e5;
    border-radius: 18px;
    line-height: 20px;
    padding: 7px 11px;
    color: #1a0dab;
}

.see-more:hover {
    background-color: #fafafa;
}

.see-more a {
    display: grid;
    grid-template-columns: 0px 1fr;
    align-items: center;
    text-decoration: none;
    color: #1a0dab;
}

.see-more img {
    height: 20px;
    width: auto;
}

.see-more span {
    justify-self: center;
    align-self: center;
}

.related-searches {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.related-searches h2 {
    grid-column: 1 / span 2;
    margin: 20px 0;
}

.col1, .col2 {
    display: flex;
    flex-direction: column;
}

.col1 a, .col2 a {
    font-size: 14px;
    margin: 5px 0;
    color: #1a0dab;
    text-decoration: none;
}

.pages {
    display: grid;
    grid-template-rows: 40px 16px;
    grid-template-columns: 45px repeat(10, 20px) 45px 45px;

    margin: 30px auto 0 auto;
    width: 50%;
    text-align: center;

    font-size: 14px;
}

.pages-logo {
    grid-column: 1 / -1;
}

.one {
    grid-column: 2/auto;
}

.next {
    grid-column: -2/-1;
}

.pages a {
    text-align: center;
}

.pages a:hover {
    text-decoration: underline;
}

footer {
    background-color: #f2f2f2;
    font-size: 14px;
    color: #5f6368;
}

footer a {
    color: #5f6368;
}

.location {
    margin-left: 180px;
    padding: 10px 0;
}

.location > * {
    display: inline-block;
}

.dot {
    background-color: #9e9e9e;
    border-radius: 100%;
    width: 10px;
    height: 10px;
}

.current-loc {
    color: #333;
    font-weight: 600;
}

.footer-links {
    margin-left: 180px;
    padding: 10px 0;
}

.footer-links a {
    padding-right: 16px;
}